@import "../../assets/fonts.css";
.gameProfile .card {
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/paper-tan.jpg");
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
  background-size: 66%;
  background-position: center;
}
.gameProfile .card.hero .card-body {
  text-align: center;
}
.gameProfile .card.hero .card-body button {
  margin-top: 0.75rem;
}
.gameProfile .card .img-wrapper {
  margin: 1em;
  margin-bottom: 0;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #180b0b;
}
.gameProfile .card .img-wrapper .gameTitle {
  text-align: center;
  padding: 0.333em;
  margin: -16px -16px 12px -16px;
  background-color: #180b0b;
  color: bisque;
  text-shadow: none;
}
.gameProfile .card .img-wrapper img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.gameProfile .card .card-body {
  color: #180b0b;
  margin-top: 0;
}
.gameProfile .card .card-body h3 {
  margin-top: 0;
  color: #180b0b;
  text-shadow: none;
}
.gameProfile .card .card-body .comments q {
  font-family: serif;
  line-height: 1.2;
}
.gameProfile .card .card-body .comments q::before,
.gameProfile .card .card-body .comments q::after {
  font-size: 1.666em;
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
  top: 4px;
}
.gameProfile .card .card-body dt {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.07em;
}
.gameProfile .card.gameComments,
.gameProfile .card.gameDetails {
  margin-top: 2em;
}
.gameImg {
  display: block;
  width: 160px;
  height: 160px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
